; === Storage Location ===
; the default file name can be something like C:\\Recordings\\untitled.xdf, but can also contain
; placeholders. Two placeholder formats are supported: Legacy and BIDS.
;
; Legacy may contain a running number (incremented per experiment session) called %n, and a 
; placeholder for a "block" label %b (if the config script provides a list of block names that 
; consitute a session.
; The syntax is as in: StorageLocation = "C:\\Recordings\\subject%n\\block_%b.xdf"
;
; For BIDS, the path may contain %p for participant label, %s for session label,
; %b for task label (same as block in Legacy), %a for name of acquisition parameter set, and %r index.
; The BIDS syntax is: path/to/CurrentStudy/sub-%p/ses-%s/eeg/sub-%p_ses-%s_task-%b[_acq-%a]_run-%r_eeg.xdf
;
; If StorageLocation is not provided then the default is QStandardPaths::DocumentsLocation/CurrentStudy/exp%n/untitled.xdf

;StorageLocation=C:/Recordings/CurrentStudy/exp%n/untitled.xdf

; === Study Root ===
; You can optionally provide only the study root folder and it will be used to build a file name automatically.
; The default filename builder is Legacy (see above).
; StudyRoot=C:/Recordings/CurrentStudy

; === Block Names ===
; This is optionally a list of blocks that make up a recording session. The blocks are displayed in 
; a list box where the experiment can select a block before pressing record. If used, the blocks 
; may serve as a reminder of where they are in the experiment, but more practically, can be 
; used to determine the file name of the recording. Power users can define scriptable actions 
; associated with selecting a block or pressing Start/Stop for a given block (e.g., for remote 
; control).
; The syntax is as in: SessionBlocks = "Training","PreBaseline","MainSection","PostBaseline"

SessionBlocks="T1", "T2", "T3"

; === Required Streams ===
; This is optionally a list of streams that are required for the recording; 
; a warning is issued if one of the streams is not present when the record button is pressed
; The syntax is as in: RequiredStreams = "BioSemi (MyHostname)","PhaseSpace (MyHostname)","Eyelink (AnotherHostname)"
; where the format is identical to what the LabRecorder displays in the "Record from streams" list.

;RequiredStreams="RequiredExample (PC)"

; === Online Sync ===
; A list of sync settings. Each setting follows the following format: "SrcStreamName (SrcHostName) post_FLAG"
; where post_FLAG is described here: https://github.com/sccn/liblsl/blob/master/src/common.h#L77-L89
; Note that it is not necessary to set any flags for correct storage because all of the post-processing synchronization
; can be achieved during file import using either the Matlab or Python importers.
; Examples:
;     OnlineSync="ActiChamp-0 (DM-Laptop) post_ALL", "LiveAmpSN-054211-0237 (User-PC) post_ALL"
;     OnlineSync=["ActiChamp-0 (User-PC)" post_ALL]
OnlineSync="SendDataC (Testpc) post_ALL", "Test (Testpc) post_clocksync"